* {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #fff;
    --secondary-color: #fff;
    --main-color: #fca400;
}


html, body {
    margin: 0;
    min-height: 100%;
}

body {
    background: var(--secondary-color);
    color: var(--text-color);
    overflow: hidden;
}

main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5) 50%), 
        url("https://images.unsplash.com/photo-1630420598913-44208d36f9af?q=80&w=1625&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 109vh;
    
}

.site-header {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-between;
    padding: 0 5vw;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.brand {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -0.06em;
    text-decoration: none;
}

.brand span {
    color: var(--main-color);
    font-weight: 800;
}

nav ul {
    display: flex;
    gap: clamp(1rem, 3vw, 3.5rem);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a, .book-link {
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.2s ease;
    transition: letter-spacing 0.2s ease-in-out;
}

nav a:hover, nav a.active, .book-link {
    color: var(--main-color);
    letter-spacing: 0.2em;
    transition: all 0.2s ease;
}

/*content text*/
.content-text {
    width: 1200px;
    height: auto;
    margin: auto;
    color: var(--text-color);
    position: relative;
    top: 40vh;
    right: 25vh;
}

.content-text h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content-text p {
    padding-left: 3px;
    padding-bottom: 25px;
    line-height: 30px;  
    font-size: 1.5rem;
}

/*content button*/
.content-btn {
    width: 1200px;
    margin: 40vh auto 0;
    position: relative;
    right: 25vh;
    display: flex;
    gap: 20px;
}

.book-link {
    border: 1px solid var(--main-color);
    padding: 10px 25px;
    transition: all 0.3s ease-in-out;
}

.book-link span {
    font-size: 1.5rem;
}

.book-link:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.facebook-link {
    color: #1877F2;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid #1877F2;
    padding: 10px 25px;
    transition: color 0.3s ease-in-out;
}

.facebook-link:hover {
    background-color: #1877F2;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.instagram-link {
    color: #fd4c87;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid #fd4c87;
    padding: 10px 25px;
    transition: all 0.3s ease-in-out;
}

.instagram-link:hover {
    background-color: #fd4c87;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}